[Unit]
Description=Gateway IoT
After=systemd-networkd.service

[Service]
ExecStartPre=/bin/sleep 5
ExecStart=python /root/gateway.py

[Install]
WantedBy=multi-user.target